html,

body {
  overflow: hidden;
}

h1 {
  font-size: 300%;
}

h1 span {
  display: inline-block;
  font-size: 1rem;
  text-align: justify;
}

hr {
  padding: 20px 0;
  border: none;
}

.hr1 {
  border-top: 5px solid rgb(252, 153, 60);
}


.button-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

body {
  background-image: url("");
  background-size: cover;
}