#submit_kind {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 100;
	top: 300;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}


#submit_place {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 100;
	top: 350;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#submit_user {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 100;
	top: 400;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#submit_admin {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 100;
	top: 450;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}


#submit_name {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 300;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#submit_format {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 350;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}


#submit_number {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 400;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#submit_images {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 450;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#submit_button {
	height: 50px;
	padding: 0 20px;
	position: absolute;
	left: 100;
	top: 550;
	border-radius: 40px;
	outline: 0;
	background: #a66;
}

#upload_button {
	height: 50px;
	padding: 0 20px;
	position: absolute;
	left: 330;
	top: 550;
	border-radius: 40px;
	outline: 0;
	background: #f66;
}
